* {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
}

#p1 {
    background-color: darkslategray;
    color: lightgray;
    height: 100vh;
    width: 50%;
    overflow-x: auto;
}

#p1 h1 {
    color: lightgray;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#p2 {
    background-color: lightgray;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

#p2 h1 {
    color: darkslategray;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

table {
    color: darkslategray;
    margin: 0px 50px 0px 50px;
    text-align: center;
}

th, td {
    padding: 1px;
}

th {
    background-color: darkslategray;
    color: lightgray;
}
tr:nth-child() {
    background-color: darkslategray;
}

.primeiro {
    background-color: rgb(250, 250, 83);
}

.segundo {
    background-color: rgb(170, 168, 168);
}

.terceiro {
    background-color: rgb(248, 192, 128);
}

input {
    width: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#blocoJogos {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
}

button {
    padding: 5px;
    border: 1px solid lightgray;
    color: darkslategray;
    border-radius: 3px;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: darkslategray;
    color: lightgray;
}

#divBotao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 50px;
}

.todos-grupos {
    display: flex;
    overflow-x: auto;
    margin-top: 50px;
}

.grupo {
    text-wrap: nowrap;
    width: 230px;
}

#vencedores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px
}

#top1 {
    font-size: 70px;
    color: rgb(250, 250, 83);
}

#top2 {
    font-size: 40px;
    color: rgb(170, 168, 168);
}

#top3 {
    font-size: 25px;
    color:  rgb(248, 192, 128);
}

#animate_confetti {
    font-size: 10px;
    margin-top: 100px;
}
