body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    background-color: #F6F8FA;
    width: 100vw;
    height: 60px;
    padding: 16px 16px 8px 16px;
    display: flex;
    box-sizing: border-box;
}

#menu {
    background-color: #F6F8FA;
    width: 32px;
    height: 32px;
    border: 1px solid #D0D7DE;
    border-radius: 5px;
    cursor: pointer;
    
}

#simbolomenu {
    color: #636C76;
    font-size: 18px;
}

svg {
    opacity: 0.9;
    margin-left: 16px;
    cursor: pointer;
}

#nome {
    margin-left: 9px;
    width: 620px;
    display: flex;
}

#bordanome {
    width: fit-content;
    border-radius: 5px;
    height: 25px;
    padding: 3px 7px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    transition-duration: 0.1s;
    cursor: pointer;
}

#bordanome:hover {
    background-color: #EFF2F5;
}

#bordanome p {
    margin: 0px;
    padding: 0px;
    opacity: 0.9;
}