html {
    position: fixed;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom, rgb(231, 231, 21), rgb(224, 176, 18), rgb(231, 154, 54));
}

.mar {
    background-color: rgb(12, 151, 231);
    height: 200px;
    width: 100vw;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#titulo {
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 8px rgb(128, 126, 126);
    animation: titulo 15s ease-in-out infinite alternate;
}

@keyframes  titulo {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(500px);
        color: rgb(121, 193, 235);
    }
}

#ondafrente {
    animation: ondafrente 5s ease-in-out infinite alternate;
}

@keyframes ondafrente {
    from {
        transform: translateX(0px);
        transform: scale(1.3);
    }
    to {
        transform: translateX(-10px);
    }
}

#ondameio {
    animation: ondameio 7s 0.5s ease-in-out infinite alternate;
}

@keyframes ondameio {
    from {
        transform: translateX(0px);
        transform: scaleY(1.5);
    }
    to {
        transform: translateX(0px);
    }
}

#ondafundo {
    animation: ondafundo 10s ease-in-out infinite alternate;
}

@keyframes ondafundo {
    from {
        transform: translateX(0px);
        transform: scaleX(2);
    }
}